.insights {
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  background: rgba(0,0,0,0.6);
}
.activity {
  padding: 15px;
  border-radius: 12px;
  background: rgba(0,0,0,0.5);
  margin-top: 20px;
}


.activity-item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.app-container.dark .activity {
  background: rgba(0, 0, 0, 0.6);
  color: aquamarine;
}

.app-container .activity {
  background: #f9fafb;
  color: #50635e;
}
.app-container.dark .activity h3{
  background: rgba(0, 0, 0, 0.01);
  color: rgb(244, 249, 247);
}

.app-container .activity h3 {
  
  color: #2e423a;
}